/* All pages */
body {
    background: #f8b713 url(https://tmbw.net/wiki//skins/choppingblock/title.gif?2015-05-25T14:45:00Z) 16em 25px no-repeat
}

pre {
    border: 1px solid #efab22;
    background: #fed03f;
}

#toc {
    background: #fed03f !important;
}

div.thumb div {
    background: #f2aa10;
}

/* Homepage */
#p-cactions {
    background: #f8b713;
}

#williamallenwhite a,
#williamallenwhite a:hover {
    background: url(https://tmbw.net/wiki/images/thumb/5/5c/No.jpg/240px-No.jpg) no-repeat center center;
    background-size: contain;
}

.MainPageBG {
    background-color: #fed03f !important;
}

.MainPageBG2 {
    background-color: #f2aa10 !important;
}

/* Cats */
#catlinks {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/No!/media/Clock.png) no-repeat left center;
    padding: 5px 5px 5px 45px;
}

/* Tables */
table.rowcoloring tr:nth-child(even) {
    background: #fed03f;
}

table.ebena tr:nth-child(even) {
    background: #fed03f;
}

table#discog tr:nth-child(even) {
    background: #fed03f;
}

.skin-azure table.rowcoloring tr:nth-child(even) {
    background: #fed03f;
}

tr.header,
td.diff-otitle,
td.diff-ntitle {
    background: #f2aa10;
}

/* Other Pages */

.lyrics-table {
    background: #fed03f;
}

@media screen {
    li.gallerybox div.thumb {
        background-color: #f2aa10;
    }
}