/* All pages */
body {
    height: 100%;

    font-family: "Helvetica Neue", HelveticaNeue, Helvetica;
    font-size: xx-small;

    background-image: linear-gradient(#ffffff 20%, #fa96f0);
}

.mw-wiki-logo {
    background-image: url(https://tmbw.net/wiki/images/thumb/f/fe/Join_Us.png/240px-Join_Us.png);
    background-size: contain;
}

.hilighted {
    background-color: #ffbff4;
}

a.new,
#p-personal a.new {
    color: #f04031;
}

a.new:visited,
#p-personal a.new:visited {
    color: #cc6e66;
}

div#footer {
    background-color: #def5ff;
    border-top: 1px solid #0094da;
    border-bottom: 1px solid #0094da;
    opacity: 1;
}

@media screen {
    a {
        color: #cc5cc1;
    }

    a:visited {
        color: #a85ccc;
    }

    .mw-body a.external,
    .mw-body a.extiw,
    .mw-body a.extiw:active {
        color: #d982d0;
    }

    .mw-body a.external:visited,
    .mw-body a.extiw:visited {
        color: #c08dd9;
    }

    .mw-body a.external,
    .link-https {
        background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Join%20Us/media/external.png) center right no-repeat;
    }

    .firstHeading {
        font-weight: bold;
        text-transform: lowercase;
    }
}

/* Strikethrough */
p::first-line {
    text-decoration: line-through;
}

/* Homepage */
div#homepage .firstblock {
    background-color: #f4e3ea;
    border: 1px solid #f49ac0;
}

div#homepage .secondblock {
    background-color: #f0c4c0;
    border: 1px solid #f04031;
}

div#homepage .recentnewsblock {
    background-color: #fdebc8;
    background-blend-mode: luminosity;
    border: 1px solid #fdaf17;
}

div#homepage .gettingstartedblock {
    background-color: #fefacb;
    border: 1px solid #fee800;

}

div#homepage .bottomblock {
    background-color: #c7ceb5;
    background-blend-mode: luminosity;
    border: 1px solid #a6ce39;
}

.otherlinksbox {
    border: 1px solid #ffc6dc;
    background-color: #fff2fb;
}

.ratingbox {
    background-color: #fdebc8;
    border: 1px solid #fdaf17;
}

pre,
.centerblock {
    border: 1px solid #ffc6dc;
    background-color: #fff2fb;
}

/* Tables */
table.rowcoloring tr:nth-child(even) {
    background: #fff2fb;
}

table.ebena tr:nth-child(even) {
    background: #fff2fb;
}

table#discog tr:nth-child(even) {
    background: #ffbff4;
}

.skin-azure table.rowcoloring tr:nth-child(even) {
    background: #ffbff4;
}

.header {
    background: #efabe4 !important;
}

/* Lyrics */
.lyrics-table {
    background-image: linear-gradient(90deg, #fff -10%, #fa96f0 150%);
}

/* Edit */
.wikiEditor-ui-toolbar {
    background-image: linear-gradient(#fff 25%, #efabe4);
}

/* Search */
.suggestions-result:hover,
.suggestions-result:active,
.suggestions-result:focus,
.suggestions-special:hover,
.suggestions-special:active,
.suggestions-special:focus,
.suggestions-result-current {
    background-color: #ffbff4;
    color: #000;
}

.suggestions-special .special-label {
    color: #666;
}

.suggestions-special .special-query {
    color: #000;
}