/* All pages */
#header {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/They%20Might%20Be%20Giants/media/Header.png) no-repeat bottom;
    background-size: contain !important;
    /* Hardcoded from surrounding elements + aspect ratio */
    height: calc((94vw - 275px) / (1600/300));
}

@media (max-width: 767px) {
    #header {
        height: 0;
        padding-bottom: calc(100vw / (1600/300) + 40px);
    }
}

#subtitle {
    display: none;
}

#container {
    background: #7acc95;
}

a {
    color: #223829;
}

a:visited {
    color: #3f1296;
}

a.new {
    color: #ea5726;
}

#content .plainlinks a {
    color: #223829 !important;
}

#content a.external,
#content a[href^="gopher://"] {
    color: #0d402f;
}

body {
    background: #9adec5 url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/They%20Might%20Be%20Giants/media/BG.svg) no-repeat center 40% fixed !important;
}

h1,
h2,
h3,
h4,
h5 {
    color: #126296;
}

hr {
    color: #126296;
    border: #126296 1px solid;
}

.mw-editsection>a {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/They%20Might%20Be%20Giants/media/Edit.gif) no-repeat top;
}

/* Song pages */
.song-tabs ul {
    background: #caadd9;
}

.song-tabs ul:before,
.song-tabs ul:after {
    background: #caadd9;
}

.song-tabs a {
    background: #caadd9;
    color: #7d4599;
}

.song-tabs a:hover {
    background: #b399bf;
}

.song-tabs strong {
    color: #caadd9;
    background: #7d4599;
}

.song-tabs a.new {
    background: #ffd5ac;
    color: #7d4599;
}

.song-tabs a.new:hover {
    background: #ffb872;
}

.ratingbox {
    background-color: #a6a2c7 !important;
    border: double 5px #abd1eb;
    border-radius: 8px;
}

.otherlinksbox {
    background-color: #feec00 !important;
    border: double 5px #abd1eb;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .ratingbox {
        border: double 5px #abd1eb !important;
    }

    .otherlinksbox {
        border: double 5px #abd1eb !important;
    }
}

#table-songnavstub td {
    background: #86b1d5;
}

/* Other tabs */
.lyrics-table,
#toc,
pre,
.prediv {
    background: #86b1d5;
    border: double 5px #5083b7;
    border-radius: 8px
}

.skin-azure .mw-ui-button.mw-ui-progressive,
.skin-azure .mw-ui-button.mw-ui-primary {
    background: #5083b7 !important;
}

/* Personal tools */
div#personaltools {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/They%20Might%20Be%20Giants/media/PersonalTools.png) no-repeat left bottom;
}

div#personaltools span#personaltoolstitle {
    color: #eeb7c3;
}

div#personaltools span#personaltoolstitle:hover {
    color: #ffccd7;
}

div#personaltools ul a {
    color: #ffccd7;
}

div#personaltools ul a:hover {
    background: #eeb7c3;
    color: #db536f;
}


/* Navigation & Page tools (mobile) */
@media (max-width: 767px) {

    div#personaltools span#personaltoolstitle,
    #pagetools-title,
    #sitenav-title {
        color: #eeb7c3;
    }

    #pagetools-title:hover,
    #sitenav-title:hover {
        color: #ffccd7;
    }

    #pagetools-title {
        border-left: 1px solid #eeb7c3;
        border-right: 1px solid #eeb7c3;
    }

    #p-cactions,
    #lefttabs,
    div#personaltools {
        background: #994989;
    }

    .sitenav-open #lefttabs #sitenav-title,
    .pagetools-open #p-cactions #pagetools-title,
    .personaltools-open div#personaltools span#personaltoolstitle {
        background: #db536f;
        color: #ffccd7;
    }
}

/* Sidebar L */
#lefttabs ul,
#p-search #searchBody {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/They%20Might%20Be%20Giants/media/SidebarL.png) top left;
}

.ulfooter {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/They%20Might%20Be%20Giants/media/SidebarL.png) bottom left;
}

#lefttabs li a {
    color: #994989;
}

#lefttabs a:hover {
    color: #401e39;
}

#searchInput {
    background-color: #e5b6c3;
}

/* (mobile) */
@media (max-width: 767px) {
    #lefttabs li a {
        background-color: #eeb7c3;
    }

    #lefttabs li a:hover {
        background-color: #db536f;
        color: #994989;
    }

    #p-search input#searchInput {
        background-color: #e5b6c3;
        color: #994989;
    }
}

/* Sidebar R */
#p-cactions li.selected a {
    background-color: #994989 !important;
    color: #eeb7c3;
}

#p-cactions li a {
    background-color: #eeb7c3;
    color: #994989;
}

#p-cactions li a:hover {
    background-color: #db536f;
}

#p-cactions li.new a {
    background-color: #ffd5ac;
    color: #994989;
}

#p-cactions li.new a:hover {
    background-color: #ffb872;
}

/* Homepage */
div#homepage .gettingstartedblock {
    background: #feec00;
    border: double 5px #abd1eb;
    border-radius: 8px;
}

.MainPageBG2 {
    background-color: #a6a2c7;
    background-blend-mode: luminosity;
    border: double 5px #abd1eb !important;
    border-radius: 8px;
}

div#homepage span.tagline {
    background: #e5b6c3;
    color: #000;
}

/* Other pages */
.unpatrolled {
    color: #ea5726 !important;
}

#userboxes,
.prettyblock {
    background: #86b1d5;
    border: double 5px #5083b7 !important;
    border-radius: 8px
}

/* Tables */
table.rowcoloring tr:nth-child(even) {
    background: #629a67;
}

table.ebena tr:nth-child(even) {
    background: #629a67;
}

table#discog tr:nth-child(even) {
    background: #629a67;
}

.skin-azure table.rowcoloring tr:nth-child(even) {
    background: #629a67;
}

.row1:nth-child(2n+1), .row2:nth-child(2n+1) {
    background: #9adec5;
}

table.ebena td+td,
table.ebena th+th,
table.mw_metadata td+td,
table.mw_metadata th+th {
    border-left: 1px solid #629a67;
}

table.ebena tr+tr,
table.mw_metadata tr+tr {
    border-top: 1px solid #629a67;
}