/* All pages */
#header {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/They%20Might%20Be%20Giants/media/Header.png) no-repeat bottom;
    background-size: contain !important;
    /* Hardcoded from surrounding elements + aspect ratio */
    height: calc((94vw - 275px) / (1600/300));
}

@media (max-width: 767px) {
    #header {
        height: 0;
        padding-bottom: calc(100vw / (1600/300) + 40px);
    }
}

#subtitle {
    display: none;
}

#container {
    background: #6caf82;
}

a {
    color: #2f4d39;
}

#content .plainlinks a {
    color: #2f4d39 !important;
}

#content a.external, #content a[href^="gopher://"] {
    color: #3d663b;
}

/* Homepage */
div#homepage .gettingstartedblock {
    background: #feec00;
    border: double 5px #abd1eb;
    border-radius: 8px;
}

.MainPageBG2 {
    background-color: #a6a2c7;
    background-blend-mode: luminosity;
    border: double 5px #abd1eb !important;
    border-radius: 8px;
}

div#homepage span.tagline {
    background: #e5b6c3;
    color: #000;
}
