/* All pages */
body {
    background: #000 url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Apollo%2018/media/Logo.png) 10px 10px no-repeat;
    color: #fff;
}

#tmbwlogo a,
#tmbwlogo a:hover {
    height: 200px;
    width: 210px;
}

a {
    color: #eee;
}

a:visited {
    color: #aaa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

hr,
.MainPageBG hr,
.MainPageBG2 hr,
.MainPageBG3 hr {
    color: #000;
    background-color: #000;
}

table {
    background: transparent;
}

table.rowcoloring tr:nth-child(even) {
    background: #224173;
}

table.ebena tr:nth-child(even) {
    background: #224173;
}

table#discog tr:nth-child(even) {
    background: #224173;
}

.skin-azure table.rowcoloring tr:nth-child(even) {
    background: #224173;
}

code {
    background-color: #224173;
}

.hilighted {
    background-color: #224173 !important;
}

select {
    color: #fff;
    background-color: #000;
}

blockquote {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Apollo%2018/media/Quote.gif) no-repeat left top transparent;
}

/* Homepage */

.MainPageBG,
.MainPageBG2,
.MainPageBG3 {
    color: #fff !important;
}

.MainPageBG2 h3 {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Apollo%2018/media/RecentNews.png) no-repeat center left;
}

#h3-thisdayintmbg {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Apollo%2018/media/TDITMBG.png) no-repeat center left;
}

.MainPageBG h3 {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Apollo%2018/media/GettingStarted.png) no-repeat center left;
}

.MainPageBG3 h3 {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Apollo%2018/media/SiteMap.png) no-repeat center center;
}

#footer #f-poweredbyico a {
    width: 132px;
    background: transparent no-repeat url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Apollo%2018/media/MediaWiki.png);
}

/* Sidebars */

#p-cactions {
    left: 210px;
}

#p-cactions li a,
.portlet a {
    color: #fff;
}

textarea,
input {
    background: #000;
    color: #fff;
}

#p-personal li#pt-userpage a {
    color: #fff;
}

.portlet h5 {
    color: #ff3a19;
}

input#searchGoButton {
    color: #ff3a19;
}

/* Search */
.suggestions-result {
    background-color: #000;
    color: #fff;
}

.suggestions-result:hover,
.suggestions-result:active,
.suggestions-result:focus {
    background-color: #224173;
    color: #fff;
}

.suggestions-special {
    background-color: #000;
    color: #fff;
}

.suggestions-special:hover,
.suggestions-special:active,
.suggestions-special:focus {
    background-color: #224173;
    color: #fff;
}

.suggestions-special .special-label {
    color: #aaa;
}

.suggestions-special .special-query {
    color: #fff;
}

.suggestions-result-current {
    background-color: #224173;
}

/* Edit */

.wikiEditor-ui-controls,
.wikiEditor-ui-tabs div,
.wikiEditor-ui,
.wikiEditor-preview-contents {
    background-color: #000;
}

.wikiEditor-ui-tabs div.current a {
    background-color: #111;
    color: #aaa;
}

.wikiEditor-ui-toolbar {
    background-image: none;
}

.wikiEditor-ui-buttons {
    background-color: #000;
    border-top: none;
}

.wikiEditor-ui-toolbar .tabs span.tab a,
.wikiEditor-ui-toolbar .tabs span.tab a:visited,
.wikiEditor-ui-tabs div a {
    color: #eee;
}

/* Other */

#catlinks a[title="Special:Categories"] {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Apollo%2018/media/Category.png) no-repeat;
}

#toc {
    background-color: #224173 !important;
    text-shadow: #922a86 0 0;
}

#toc #toctitle h2 {
    color: #fff;
}

#pagehistory li.selected {
    background-color: #111;
}

fieldset {
    border: 1px solid #224173;
}

table.diff {
    color: #000;
}

table.diff a {
    color: #111;
}

legend {
    background: #000;
}

table#userboxes {
    color: #000;
}

table#userboxes a {
    color: #111;
}

table#userboxes td a:visited {
    color: #666;
}

table#userboxes>tbody>tr:first-child a {
    color: #eee !important;
}

table#userboxes>tbody>tr:first-child a:visited {
    color: #aaa !important;
}

.mw-ui-button.mw-ui-progressive,
.mw-ui-button.mw-ui-primary {
    background: #224173;
    border: #224173;
}

.mw-ui-button.mw-ui-progressive:hover,
.mw-ui-button.mw-ui-primary:hover {
    border-bottom-color: #1a335a;
}

@media screen {
    a.new {
        color: #ff3a19;
    }

    li.gallerybox div.thumb {
        background-color: #1a1819;
    }
}