body {
    background: #000 url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Apollo%2018/media/Logo.png) 10px 10px no-repeat;
    color: #fff;
}

#tmbwlogo a,
#tmbwlogo a:hover {
    height: 200px;
    width: 210px;
}

a {
    color: #eee;
}

a:visited {
    color: #aaa;
}

hr {
    color: #000;
    background-color: #000;
}

.MainPageBG,
.MainPageBG2,
.MainPageBG3 {
    color: #fff !important;
}

#p-cactions {
    left: 210px;
}

#p-cactions li a,
.portlet a {
    color: #fff;
}

table {
    background: transparent;
}

textarea,
input {
    background: #000;
    color: #fff;
}

#p-personal li#pt-userpage a {
    color: #fff;
}

.portlet h5 {
    color: #ff3a19;
}

input#searchGoButton {
    color: #ff3a19;
}

@media screen {
    a.new {
        color: #ff3a19;
    }
}