/* All pages */
body {
    background-size: auto !important;
    background-image: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Flood/media/BG.png);
    background-color: #def4da;
}

#container {
    background: #e4fae4;
}

h1,
h2,
h3,
h4,
h5 {
    color: #345229;
}

hr {
    border-color: #345229;
}

a,
a:visited,
#content .plainlinks a {
    color: #476b31 !important;
}

#header {
    background-color: #4f683e;
}

#subtitle {
    background: #cfdeb5 url(https://tmbw.net/wiki/skins/deciduous/_img/subtitle.gif) no-repeat left bottom;
}

.mw-editsection>a {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Flood/media/Edit.gif) no-repeat top;
}

blockquote {
    background-image: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Flood/media/Quote.gif);
}

/* Personal tools */
div#personaltools {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Flood/media/PersonalTools.png) no-repeat left bottom;
}

div#personaltools span#personaltoolstitle {
    color: #b1c58f;
}

div#personaltools span#personaltoolstitle:hover {
    color: #cfdeb5;
}

div#personaltools ul a {
    color: #cfdeb5;
}

div#personaltools ul a:hover {
    background: #cfdeb5;
    color: #3c502b;
}

/* Homepage */
div#homepage span.tagline {
    color: #ffffff;
}

.hilighted,
.tagline {
    background: #568853 !important;
    text-shadow: #568853 1px 1px !important;
}

#table-songnavstub td,
#navstub,
.centerblock,
.lyrics-table,
.gettingstartedblock,
#toc,
table.gallery td,
pre,
.diff-context {
    background: #97c790 !important;
    border-color: #e4fae4 !important;
}

/* Song pages */
.song-tabs ul {
    background: #a0b67d;
}

.song-tabs ul:before,
.song-tabs ul:after {
    background: #a0b67d;
}

.song-tabs a {
    background: #a0b67d;
}

.song-tabs a:hover {
    background: #ccd7c4;
}

.song-tabs strong {
    background: #476b31;
    color: #a0b67d;
}

.song-tabs a.new {
    background: #e6c72e;
    color: #cc2929 !important;
}

.song-tabs a.new:hover {
    background: #fad001;
}

/* Sidebar L */
#lefttabs ul,
#p-search #searchBody {
    background: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Flood/media/SidebarL.png) top left !important;
}

#lefttabs ul,
#p-search #searchBody,
.ulfooter {
    background-image: url(https://raw.githubusercontent.com/PrimmR/TMBW-Custom-CSS/main/Flood/media/SidebarL.png) !important;
}

#lefttabs li a:hover {
    color: #23341d !important;
}

#lefttabs li a {
    color: #4f683e !important;
}

#searchInput {
    background-color: #e4fae4;
}

/* Sidebar R */
#p-cactions li.selected a {
    background-color: #3c502b !important;
    color: #cfdeb5;
}

#p-cactions li a {
    background-color: #cfdeb5;
    color: #3c502b;
}

#p-cactions li a:hover {
    background-color: #b3c09c;
}

#p-cactions li.new a {
    background-color: #e6c72e;
    color: #cc2929 !important;
}

#p-cactions li.new a:hover {
    background-color: #fad001;
}

@media (max-width: 767px) {
    #p-cactions li.selected a,
    #p-cactions li a:hover {
        background-color: #cfdeb5 !important;
        color: #3c502b !important;
    }
}

/* Search */
.suggestions-result,
.suggestions-special {
    background-color: #cfdeb5;
}

.suggestions-result:hover,
.suggestions-result:active,
.suggestions-result:focus,
.suggestions-special:hover,
.suggestions-special:active,
.suggestions-special:focus,
.suggestions-result-current {
    background-color: #3c502b;
}